*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;

}
body{
    background: rgb(15, 29, 66);
    color: rgb(255, 255, 255);
}
.container{
    margin: 12%;
    width: 100%;
    max-width: 700px;
}
.display{
    width: 80%;
    height: 90px;
    margin-top: 50px;
    margin-bottom: 30px;
    background: white;
    color: #333;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 26px;
}
.display input{
    width: 400px;
    font-size: 22px;
    border: none;
    outline: none;

}

.container h1{
    font-weight: 300;
    font-size: 45px;
}
.container h1 span{
    color: #0d8e41;
    font-weight: 500;
    border-bottom: 4px solid #0d8e41;
    padding-bottom: 7px;
}

.display img{
    width: 30px;
    cursor: pointer;
}

/* .container button{
    width: 40px;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 5px;
    border: none;
    outline: none;
    background: #0d8e41;
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;  
} */
/* .container button::after{
    color: #000;
    background: white;
} */

.container button.generate{
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    background: #0d8e41;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
}

.container button img{
    width: 15px;
    margin-right: 10px;
}
