*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: rgb(7, 45, 77);
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0,0,0, 0.2);
    background: transparent;
    color: white;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

form .display{
    display: flex;
    justify-content: right;
    margin: 20px 0px;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    border-radius: 4px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
    background-color: rgb(255, 119, 0);
}

form input.clear{
    color: rgb(0, 255, 238);
}